<!-- 
project: IBT24/25, xkubec03
author: Viktor Kubec
file: link_module_inventory_confirm_delete.html

brief:
Template for inventory view - shows tables for each module_type
-->
{% extends 'base/layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Are you sure you want to delete this link?</h2>
    <p>
        Module: <strong>{{ object.module }}</strong><br>
        InventoryItem: <strong>{{ object.inventory_item }}</strong>
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'plugins:module_swap:link_module_inventory_list' %}" class="btn btn-secondary">Back</a>
    </form>
</div>
{% endblock %}